body {
  background: rgb(69, 223, 202);
  font-family: 'Inconsolata', monospace;
  text-align: center;
  margin: 0;
  padding: 2rem 0;
  width : 100%;
}

main {
  background: rgb(69, 223, 202);
  border-color: rgb(0, 0, 0);
  border-style: solid;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  padding: 2rem 0;
}

h1 {
  margin: 3rem 1rem 6rem 1rem;
  text-align: center;
  color: aliceblue;
  font-family: 'Indie Flower', cursive;
  text-decoration: none;
}

h2 {
  margin: 3rem 1rem 6rem 1rem;
  text-align: center;
  color: aliceblue;
  font-family: 'Indie Flower', cursive;
}

h3 {
  margin: 3rem 1rem 6rem 1rem;
  text-align: center;
  color: aliceblue;
  font-family: 'Indie Flower', cursive;
}

h4 {
  margin: 3rem 1rem 6rem 1rem;
  text-align: center;
  color: aliceblue;
  font-family: 'Indie Flower', cursive;
}

p {
  margin: 3rem 1rem 6rem 1rem;
  text-align: center;
  color: aliceblue;
  font-family: 'Indie Flower', cursive;
}

form {
  margin: 3rem 1rem 6rem 1rem;
  text-align: center;
  color: aliceblue;
  display:inline;
  font-family: 'Indie Flower', cursive;
}

.formSection {
  text-align: right;
  margin-right: 120px;

}

.paintings {
  margin: 10px;
  background: white;
  color: #333;
}

.painting-description h2 {
  margin: 0;
}

.paintings {
  display: flex;
}

.painting {
  box-sizing: border-box;
  width: 20%;
  flex-shrink: 0;

  background: rebeccapurple;
}

.painting,
.painting-description {
  padding: 10px;
}

.painting img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .paintings {
  display: block;
  }

  .painting {
  width: 100%;
  border: 10px solid red;
  }

  .painting img {
  width: 50%;
  margin: 0 auto;
  }
}
